[project]
	description = Protocol Buffers - Google's data interchange format
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chris Fallin (cfallin)
[access "refs/for/refs/*"]
	read = group user/Chris Fallin (cfallin)
	push = group user/Chris Fallin (cfallin)
	label-Code-Review = -2..+2 group user/Chris Fallin (cfallin)
	label-Verified = -1..+1 group user/Chris Fallin (cfallin)
	rebase = group user/Chris Fallin (cfallin)
	removeReviewer = group user/Chris Fallin (cfallin)
	submit = group user/Chris Fallin (cfallin)
[access "refs/heads/*"]
	read = group user/Chris Fallin (cfallin)
	create = group user/Chris Fallin (cfallin)
	push = +force group user/Chris Fallin (cfallin)
	pushMerge = group user/Chris Fallin (cfallin)
[access "refs/tags/*"]
	push = +force group user/Chris Fallin (cfallin)
	pushTag = group user/Chris Fallin (cfallin)
	pushSignedTag = group user/Chris Fallin (cfallin)
